<body class="{{ section }}">
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Digitally Pink</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for section in sections %}
          <li><a href="/{{ section.url }}">{{ section.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
</nav>
